	table{
		margin: 0 auto;
		align=center;
	
	}
	
	.branco{
		border-color:white;
		border-width: 2px;
	
	}


  td, th{ 
    border-style:solid;
    border-width: 1px;
    border-color:pink;
  }
  
  
  .original{
   background-color:white;
   color: white;
  
  }

  
  
  th,td{
    padding: 20px;
  }

  
  
   .pt{
    background-color: indianred;
    color: white;
	
  }
  
  
  .yup{
    background-color: yellow;
    color: white;
	
  }
  
